@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@300;400&display=swap');
@import url(about-style.css);

body {
  background-color: #fff;
  font-family: 'lato', sans-serif !important;
}

@media (max-width: 768px) {
  .desktop {
    display: none !important;
  }

  .mobile {
    display: flex !important;
  }

  #desktop {
    display: none;
  }

  #mobile-nav {
    display: flex;
    padding: 0.375rem 3.625rem 0.375rem 1.4375rem;
    align-items: center;
    background: #fff;
    box-shadow: 4px 4px 4px 0.01px rgba(0, 0, 0, 0.25);
    width: 100%;
    flex-wrap: nowrap;
    height: 7vh;
    margin: 0;
  }

  .speakers img {
    width: 100%;
    height: 100%;
  }

  .more img {
    width: 1.5rem;
    padding-left: 3%;
  }

  .top-nav-imgs img {
    height: 0.9rem;
    margin-right: 1rem !important;
  }

  .popup-items img {
    position: absolute;
    top: 8%;
    right: 8%;
    width: 1.5rem;
  }

  #mobile-nav .mobile-menu img {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 7rem;
  }

  #mobile-nav .mobile-logo img {
    height: 3rem;
    width: 40vw;
    display: flex;
    justify-content: flex-end;
  }

  .mobile-navs {
    position: sticky;
    top: 0;
    z-index: 9999;
  }

  .mobile-headline {
    display: flex;
    padding: 6.8125rem 0.75rem 4.4375rem 0.75rem;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 1.87rem;
    background: url("imgs/bg-4.jpg") lightgray 50% / cover no-repeat;
  }

  .heading {
    width: 100%;
    color: #f74020;
  }

  .heading span {
    font-size: 5.5vw;
    white-space: nowrap;
  }

  .heading h1 {
    display: flex;
    flex-direction: row;
    font-size: 8vw;
    font-weight: 850;
    white-space: nowrap;
  }

  .contaner {
    display: flex;
    width: 100%;
    height: 20%;
    padding: 1.26881rem 0.875rem 1.05619rem 0.875rem;
    justify-content: center;
    align-items: center;
    border: 4px solid #fff;
    background: #f8f8f8;
  }

  .contaner p {
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #515151;
    font-size: 3vw;
    line-height: 1.0625rem;
    font-weight: 600;
  }

  .contained {
    width: 100%;
  }

  .contained h2 {
    color: #682323;
    font-size: 2rem;
    font-weight: 1000;
    letter-spacing: -0.1rem;
  }

  .contained p {
    color: #000;
    font-size: 3vw;
    font-weight: 700;
  }

  #main-program {
    background: url(imgs/main-program-bacground\ icon.png);
    background-color: #2b2d31;
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    padding: 0.6875rem 0.75rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    flex-shrink: 0;
    padding-bottom: 10%;
  }

  .main-program h3 {
    color: #fff;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem;
    letter-spacing: -0.05rem;
    padding-top: 3%;
    padding-bottom: 3%;
  }

  .card-item {
    align-items: center;
    background-color: #38393b !important;
    margin-bottom: 3%;
    opacity: 0.7;
  }

  .card-top-image {
    width: 4.5rem;
    height: 3.2rem;
    align-items: center;
    padding-left: 4%;
    color: #38393b !important;
  }

  .lecture {
    gap: 0.7rem;
  }

  .lecture h5 {
    color: #ff5438;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.56094rem;
    letter-spacing: -0.00894rem;
    align-self: center;
  }

  .card-text {
    color: #fff;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.39369rem;
    letter-spacing: 0.04013rem;
    padding: 3%;
  }

  .line {
    width: 3rem;
    height: 0.09rem;
    background: #a04038;
    margin-bottom: 5%;
  }

  .main-program-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ff4f38;
    width: 100%;
  }

  .main-program-footer h3 {
    padding: 1.65rem 3.125rem;
    white-space: nowrap;
    font-size: 5vw;
  }

  .featured-speakers-heading {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 1%;
    background-color: #fff;
    width: 100%;
  }

  #line {
    width: 3rem;
    background-color: red;
    height: 0.05rem;
    align-self: center;
    margin-bottom: 5%;
  }

  .featured-speakers-heading h5 {
    align-self: center;
    font-size: 2rem;
    font-weight: 900;
  }

  .featured-speakers-heading .line {
    display: flex;
    width: 1.2rem;
    background-color: #8b8b8d;
    align-self: flex-start;
    margin-top: 4px;
    margin-bottom: 4px;
    height: 1px;
  }

  #featured-speakers {
    width: 100%;
    padding-left: 8%;
  }

  .featured-speakers-section {
    display: inline-flex;
    flex-direction: column;
  }

  .featured-speakers {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
  }

  .speakers {
    display: flex;
    flex-direction: row;
    padding-right: 5%;
    padding-bottom: 5%;
    width: 100%;
  }

  .speakers .images {
    width: 40%;
    margin-right: 1rem;
  }

  .speaker-texts {
    display: flex;
    flex-direction: column;
    gap: 8%;
    justify-content: center;
  }

  .featured-speakers .speaker-name {
    font-size: 4vw;
    font-weight: 800;
    padding-bottom: 5px;
    margin: 0;
  }

  .proffesions {
    color: red;
    font-style: italic;
    font-weight: 600;
    font-size: 2.5vw;
    padding: 0;
    margin: 0;
  }

  .speech {
    font-weight: 600;
    font-size: 2.5vw;
    padding: 0;
    margin: 0;
  }

  .more {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: center;
    border: 1px solid gray;
    align-self: center;
    align-items: center;
    margin-bottom: 10%;
  }

  .more p {
    font-size: 1rem;
    font-weight: 700;
    padding-top: 3%;
  }

  .footer-div {
    padding-top: 7%;
    width: 80%;
  }

  #footer {
    display: none;
  }

  .popup-menu {
    display: none;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 999999;
    position: absolute;
  }

  .popup-items {
    background-color: rgb(88, 45, 45);
    padding-top: 7rem;
    padding-right: 10%;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .popup-menu .popup-list {
    list-style: none;
    color: #fff;
    font-size: 2.5rem;
    justify-content: center;
    text-align: center;
    padding-top: 5%;
  }

  .top-nav {
    background: #272a31;
    display: flex;
    height: 1.875rem;
    gap: 3.25rem;
    flex-shrink: 0;
    align-self: stretch;
    align-items: center;
    justify-content: center;
    color: #fff;
  }

  .top-nav.nav-item {
    padding-left: 1.25rem;
    font-size: 0.3rem;
  }

  .top-navs {
    color: #fff;
    font-size: 0.75rem;
    padding-right: 1rem;
  }

  .show-menu.popup-menu {
    display: block;
  }
}

@media (min-width: 768px) {
  .mobile {
    display: none !important;
  }

  .desktop-header {
    position: sticky;
    top: 0;
    z-index: 100;
  }

  .top-nav {
    background: #272a31;
    display: flex;
    height: 1.875rem;
    padding-right: 11.875rem;
    gap: 3.25rem;
    flex-shrink: 0;
    align-self: stretch;
    align-items: center;
    justify-content: flex-end;
    color: #fff;
  }

  .top-nav.nav-item {
    gap: 1.25rem;
    font-size: 0.3rem;
  }

  .top-navs {
    color: #fff;
    font-size: 0.75rem;
  }

  .top-nav-imgs img {
    height: 0.9rem;
    padding-bottom: 10%;
  }

  #main-nav {
    height: 3rem;
    background-color: #fff;
    padding-right: 12%;
    padding-left: 6%;
  }

  .navbar .logo img {
    height: 2.8rem;
    width: 20vw;
  }

  .navbar.logo {
    padding-left: 1%;
    padding-right: 13%;
  }

  #navigation {
    color: #868686;
    font-size: 0.875rem;
    font-weight: 800;
    margin-right: 5%;
    gap: 3%;
  }

  .campaign a {
    border: 4px solid #ec4327;
    color: #ec4327;
    font-size: 1vw;
    font-weight: 800;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
    white-space: nowrap;
    text-decoration: none;
  }

  #headline {
    background: url("imgs/bg-4.jpg") lightgray 50% / cover no-repeat;
    padding: 7.25rem 27.5625rem 7.5625rem 12.875rem;
    align-items: center;
  }

  .heading {
    width: 100%;
    color: #f74020;
  }

  .heading span {
    font-size: 2.5vw;
    white-space: nowrap;
  }

  .heading h1 {
    display: flex;
    flex-direction: row;
    font-size: 4vw;
    font-weight: 850;
    white-space: nowrap;
  }

  .contaner {
    display: flex;
    width: 80%;
    height: 20%;
    padding: 1.26881rem 0.875rem 1.05619rem 0.875rem;
    justify-content: center;
    align-items: center;
    border: 4px solid #fff;
    background: #e4e0e0;
  }

  .contaner p {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #666464;
    font-size: 1vw;
    font-weight: 600;
  }

  .contained {
    width: 100%;
    padding-top: 3%;
  }

  .contained h2 {
    color: #b9b6b6;
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: -0.1rem;
    white-space: nowrap;
  }

  .contained p {
    color: #000;
    font-size: 1.5vw;
    font-weight: 700;
    white-space: nowrap;
  }

  #main-program {
    background: url(imgs/main-program-bacground\ icon.png);
    background-color: #2b2d31;
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    padding: 0.6875rem 0.75rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    flex-shrink: 0;
    padding-bottom: 2%;
  }

  .main-program h3 {
    color: #fff;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem;
    letter-spacing: -0.05rem;
    padding-top: 3%;
  }

  #program-cards {
    padding-left: 10%;
    padding-right: 10%;
    flex-wrap: nowrap;
  }

  .card-item {
    align-items: center;
    background-color: #38393b !important;
    margin-bottom: 3%;
    opacity: 0.7;
  }

  .col {
    padding: 0.1rem !important;
    height: auto;
  }

  .card-top-image {
    align-items: center;
    margin-top: 10%;
    color: #38393b !important;
  }

  .lecture {
    gap: 0.7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .lecture h5 {
    color: #ff5438;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    align-self: center;
  }

  .card-text {
    color: #fff;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 700;
    padding: 1%;
  }

  .line {
    width: 3rem;
    height: 0.09rem;
    background: #a04038;
    margin-bottom: 2%;
  }

  .main-program-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .main-program-footer h3 {
    padding: 3.65rem 3.125rem;
    white-space: nowrap;
    font-size: 1rem;
    text-decoration: underline;
  }

  .featured-speakers-heading {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 1%;
    background-color: #f5f1f1;
  }

  #line {
    width: 3rem;
    background-color: red;
    height: 0.05rem;
    align-self: center;
    margin-bottom: 5%;
  }

  .featured-speakers-heading h5 {
    align-self: center;
    font-size: 2rem;
    font-weight: 900;
  }

  .featured-speakers-heading .line {
    display: flex;
    width: 1.5rem;
    background-color: #8b8b8d;
    align-self: flex-start;
  }

  #featured-speakers {
    width: 100%;
    padding-left: 8%;
  }

  .featured-speakers-section {
    display: inline-flex;
    flex-direction: row;
    width: 45%;
  }

  .featured-speakers {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
  }

  .speakers {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding-right: 5%;
    padding-bottom: 5%;
    width: 100%;
  }

  .speaker-texts {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
  }

  .featured-speakers .speaker-name {
    font-size: 1.2rem;
    font-weight: 800;
  }

  .proffesions {
    color: red;
    font-style: italic;
    font-weight: 600;
  }

  .speech {
    font-weight: 600;
  }

  .patners {
    display: flex;
    padding: 1.25rem 0.0001rem 2.5rem 0.0001rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    background-color: #414246;
  }

  .patner-heading h5 {
    color: #c9bebe;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem;
    padding-top: 2rem;
  }

  .patners ul {
    display: flex;
    gap: 6.5vw;
  }

  .patners ul li {
    list-style: none;
    text-align: center;
  }

  #footer {
    display: flex;
    flex-direction: column;
    background-color: #ecebeb;
  }

  .foot {
    padding-top: 2%;
    padding-bottom: 2%;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
  }

  #foot-img {
    width: 40vw;
    padding-left: 30%;
  }

  .foot p {
    color: #3b3737;
    font-size: 1.5vw;
    font-weight: 500;
    letter-spacing: -0.00625rem;
  }
}
